<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->
    <!-- 使用注解的方式配置Bean和注入属性-->

    <!--
        开启注解扫描，base-package指定扫描的范围，扫描包和子包中的类、方法、字段上是否有注解
    -->
    <context:component-scan base-package="com.arnoer.ioc"/>

    <!--
        配置文件配合注解使用：配置文件用来创建bean,注解用来注入属性值：@Resource或@Autowired
        也可以全部使用注解：在bookDao和BookService类上使用@Component交给Spring
    -->
    <bean id="bookdao" class="com.arnoer.ioc.dao.PeopleDao"/>
    <bean id="bookservice" class="com.arnoer.ioc.service.PeopleService"/>
</beans>